<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diretivas: v-for</title>
    </head>
    <body>

        <div id="directives">
            <h2>Cidades do Mundo</h2>
            <ol>
                <!-- <li v-for="city in cities">{{ city }}</li> -->

                <li v-for="item in cities"> 
                    {{ item.city }} - {{ item.country }}
                </li>

            </ol> 

            <h2>Grandes filmes</h2>
            <ul>
                <li v-for="(picture, index) in movies">
                    {{ index }}. {{ picture }}
                </li>
            </ul>

            <h2>empresas</h2>

            <p v-for="(value, key, index) in company">{{ key }}: {{ value }}</p>

        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue2-directives/dist/vue2-filters.min.js"></script>

        <script>

            let app = new Vue({
                el: '#directives',
                data: {
                //    cities: ['New York', 'São Paulo', 'Rio de Janeiro']
                cities:[{
                    city: 'Nova York',
                    country: 'EUA'
                },{
                    city: 'Toquio',
                    country: 'Japao'
                },{
                    city: 'Lima',
                    country: 'Peru'
                },{
                    city: 'São Paulo',
                    country: 'Brasil'
                }],
                movies: ['Star Wars', 'De volta para o futuro'],

                company:{
                    name: 'Facebook',
                    year: 2004,
                    creator: 'Mark'
                }

                }
            })    

        </script>

    </body>
</html>